@import 'tailwindcss';

@theme {
  --color-base: rgb(32, 33, 36);
  --color-primary: rgb(232, 234, 237);
  --color-secondary: rgb(93, 93, 93);
}

@layer base {
  * {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-base);
    border-color: var(--color-secondary);
    color: var(--color-primary);
  }
}
